.home{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  overflow-x:hidden;
  overflow-wrap: normal;
}
.NavBar{
position: relative;
max-width: 100%;
height: 10%;
top: 0%;
}
.CardGroup{
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.CardHeader{
  align-items: center;
  width: 100%;
  text-align: center;
}