.Header{
    position: relative;
    display:flex;
    background: rgba(65, 131, 196, 0.08);
    width:100%;
}
.head{
    position: relative;
    padding-top:15vmin;
    padding-bottom: 10vmin;
    width:50%;
    left:7%;
}
.hash{
    position:relative;
    display:flex;
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 500;
color: #346798;
}

.name{
    position:relative;
    display:flex;
    font-family: 'Josefin Sans';
    font-style: 'bold';
    font-weight: 700;
    font-size: 3rem;
}
.description{
    position:relative;
    display:flex;
    width:50%;
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;

}

.headerimg{
    position:relative;
    display:flex;
    padding: 5vmin;
    width:50vmin;
    height:35vmin;
}
button{
    position: relative;
    display:flex;
background: #4183C4;
box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
border-radius: 2px;
border-color: #4183C4;
width: 178px;
height: 50px;
text-align: center;
align-items: center;
    justify-content: center;
    color: antiquewhite;

}
